.App {
  background-color: #222;
  width: 100%;
  height: 100%;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

canvas {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.App-Panel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-Panel-title {
  color: #0f0;
}

.App-Panel-title h1 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 4px;
  display: inline-block;
}

.App-Panel-title-container {
  padding: 20px 30px;
  border: 5px solid #0f0;
  opacity: 0.8;
  background-color: black;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 480px) {
  .App-Panel-title-container {
    width: 300px;
  }
}

h1.jobtitle {
  font-size: 12px;
}

@media (min-width: 480px) {
  h1.jobtitle {
    font-size: 14px;
  }
}
.App-Panel-networks {
  text-align: center;
  margin-top: 20px;
}

.network {
  color: #0f0;
  font-size: 24px;
  cursor: pointer;
}
